## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Skjervoy,NO,70.0311,20.9714,29.52,67,100,5.19,light snow
1,1,Ancud,CL,-41.8697,-73.8203,62.13,89,21,2.95,few clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,-14.80,70,90,18.41,light snow
3,3,Carutapera,BR,-1.1950,-46.0200,79.27,81,100,7.00,overcast clouds
4,4,Vila Franca Do Campo,PT,37.7167,-25.4333,59.41,83,100,9.71,overcast clouds
5,5,Hithadhoo,MV,-0.6000,73.0833,82.60,74,100,7.36,overcast clouds
6,6,Alofi,NU,-19.0595,-169.9187,84.09,61,18,18.41,few clouds
7,7,Valle De Allende,MX,26.9333,-105.4000,49.48,69,5,8.46,clear sky
8,8,Cabo San Lucas,MX,22.8909,-109.9124,74.14,73,40,8.05,scattered clouds
9,9,Saldanha,ZA,-33.0117,17.9442,60.85,77,85,4.68,overcast clouds

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Carutapera,BR,-1.1950,-46.0200,79.27,81,100,7.00,overcast clouds
5,5,Hithadhoo,MV,-0.6000,73.0833,82.60,74,100,7.36,overcast clouds
6,6,Alofi,NU,-19.0595,-169.9187,84.09,61,18,18.41,few clouds
12,12,Butaritari,KI,3.0707,172.7902,82.45,74,99,15.77,overcast clouds
17,17,Luwuk,ID,-0.9516,122.7875,85.51,70,98,1.05,overcast clouds
21,21,Ocos,GT,14.5094,-92.1933,83.32,76,0,9.08,clear sky
25,25,Ballina,AU,-28.8667,153.5667,89.78,57,96,5.75,overcast clouds
28,28,Kapaa,US,22.0752,-159.3190,80.58,74,40,4.00,light rain
29,29,Cayenne,GF,4.9333,-52.3333,81.09,83,0,1.99,clear sky
30,30,Beira,MZ,-19.8436,34.8389,75.25,78,70,8.23,broken clouds

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                169
City                   169
Country                169
Lat                    169
Lng                    169
Max Temp               169
Humidity               169
Cloudiness             169
Wind Speed             169
Current Description    169
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Carutapera,BR,-1.1950,-46.0200,79.27,81,100,7.00,overcast clouds
5,5,Hithadhoo,MV,-0.6000,73.0833,82.60,74,100,7.36,overcast clouds
6,6,Alofi,NU,-19.0595,-169.9187,84.09,61,18,18.41,few clouds
12,12,Butaritari,KI,3.0707,172.7902,82.45,74,99,15.77,overcast clouds
17,17,Luwuk,ID,-0.9516,122.7875,85.51,70,98,1.05,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
665,665,Christchurch,NZ,-43.5333,172.6333,79.00,35,100,4.00,overcast clouds
672,672,Parkes,AU,-33.1333,148.1833,78.73,30,20,7.47,few clouds
683,683,Kasangulu,CD,-4.5911,15.1708,77.94,88,100,1.30,light rain
684,684,Acapulco,MX,16.8634,-99.8901,82.22,74,75,9.22,broken clouds
691,691,Puerto Leguizamo,CO,-0.1934,-74.7819,77.29,81,100,1.86,overcast clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Carutapera,BR,79.27,overcast clouds,-1.1950,-46.0200,
5,Hithadhoo,MV,82.60,overcast clouds,-0.6000,73.0833,
6,Alofi,NU,84.09,few clouds,-19.0595,-169.9187,
12,Butaritari,KI,82.45,overcast clouds,3.0707,172.7902,
17,Luwuk,ID,85.51,overcast clouds,-0.9516,122.7875,
21,Ocos,GT,83.32,clear sky,14.5094,-92.1933,
25,Ballina,AU,89.78,overcast clouds,-28.8667,153.5667,
28,Kapaa,US,80.58,light rain,22.0752,-159.3190,
29,Cayenne,GF,81.09,clear sky,4.9333,-52.3333,
30,Beira,MZ,75.25,broken clouds,-19.8436,34.8389,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng =row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Carutapera,BR,79.27,overcast clouds,-1.1950,-46.0200,Lidera
5,Hithadhoo,MV,82.60,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Alofi,NU,84.09,few clouds,-19.0595,-169.9187,Taloa Heights
12,Butaritari,KI,82.45,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
17,Luwuk,ID,85.51,overcast clouds,-0.9516,122.7875,Hotel Santika Luwuk
...,...,...,...,...,...,...,...
665,Christchurch,NZ,79.00,overcast clouds,-43.5333,172.6333,The George
672,Parkes,AU,78.73,few clouds,-33.1333,148.1833,Station Motel
683,Kasangulu,CD,77.94,light rain,-4.5911,15.1708,Hôtel le Relais
684,Acapulco,MX,82.22,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
691,Puerto Leguizamo,CO,77.29,overcast clouds,-0.1934,-74.7819,la casona de juancho

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer =  gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))